*.pdf
*.root
backup/
test/
old/
CMakeFiles/
CMakeCache.txt
install/
cmake*
Makefile
*.*~
*~
\#*#
\#*.*#
.#*
AddedHitPerformance
ApplyCuts
DCADaugCuts
DCADaugProdCuts
DCAProdCuts
ResolutionDCADaug
ResolutionDV
ResolutionPVDCA
Resolutions