*.pdf
*.root
backup/
test/
old/
CMakeFiles/
CMakeCache.txt
install/
cmake*
Makefile
*.*~
*~
\#*#
\#*.*#
.#*
AddedHitPerformance
ApplyCuts
DCADaugCuts
DCADaugProdCuts
DCAProdCuts
ResolutionDCADaug
ResolutionDV
ResolutionPVDCA
Resolutions
.DS*
._.DS_Store
._*
DavidCode/
AddedHitPerformanceXi
DCAProdCuts_ccc
HitStudiesXi
ResolutionPVDCAXi
ResolutionPV_C_DCA
xiccSelector
pionDCAStudy
